.header {
	background-color: #ececec;
	height: 104px;
	box-sizing: border-box;
	font-family: 'Roboto';
}

.wrapper {
	max-width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 345px;
}

.button {
	width: 224px;
	padding: 10px 0 10px 28px;
	background-color: #ececec;
	border: none;
	cursor: pointer;
	background-image: url(../../../assets/header-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	text-align: left;
	font-size: 18px;
}

.location {
	width: 98px;
	background-image: url(../../../assets/location-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.city {
	padding: 10px 0 10px 31px;
	margin: 0;
	font-size: 18px;
}
