.page {
	display: flex;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	gap: 16px;
	justify-content: center;
}

.sidebar {
	width: 320px;
	flex-shrink: 0;
}

.map {
	flex-grow: 1;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cardsContainer {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.cardsContainer::-webkit-scrollbar {
	display: none;
}
